@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    margin-bottom: 0.5em;
    /*font-family: 'Poppins', sans-serif;*/
    font-family: 'Lato', sans-serif;
}


body {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#Holder {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
}